<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junsong.open.mapper.OpenAppSecretMapper">

    <resultMap type="OpenAppSecret" id="OpenAppSecretResult">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="appId" column="app_id"/>
        <result property="appKey" column="app_key"/>
        <result property="appSecret" column="app_secret"/>
        <result property="keyType" column="key_type"/>
        <result property="status" column="status"/>
        <result property="dailyQuota" column="daily_quota"/>
        <result property="expireTime" column="expire_time"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <sql id="selectOpenAppSecretVo">
        select id, tenant_id, app_id, app_key, app_secret, key_type, status, daily_quota,
               expire_time, del_flag, create_by, create_time, update_by, update_time
        from open_app_secret
    </sql>

    <select id="selectOpenAppSecretList" parameterType="OpenAppSecret" resultMap="OpenAppSecretResult">
        <include refid="selectOpenAppSecretVo"/>
        <where>
            del_flag = '0'
            <if test="appId != null">and app_id = #{appId}</if>
            <if test="appKey != null and appKey != ''">and app_key = #{appKey}</if>
            <if test="keyType != null and keyType != ''">and key_type = #{keyType}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
        </where>
        order by id desc
    </select>

    <select id="selectOpenAppSecretById" parameterType="Long" resultMap="OpenAppSecretResult">
        <include refid="selectOpenAppSecretVo"/>
        where id = #{id} and del_flag = '0'
    </select>

    <select id="selectByAppKey" parameterType="String" resultMap="OpenAppSecretResult">
        <include refid="selectOpenAppSecretVo"/>
        where app_key = #{appKey} and del_flag = '0'
    </select>

    <select id="selectByAppId" parameterType="Long" resultMap="OpenAppSecretResult">
        <include refid="selectOpenAppSecretVo"/>
        where app_id = #{appId} and del_flag = '0'
        order by key_type
    </select>

    <insert id="insertOpenAppSecret" parameterType="OpenAppSecret" useGeneratedKeys="true" keyProperty="id">
        insert into open_app_secret
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="appKey != null and appKey != ''">app_key,</if>
            <if test="appSecret != null and appSecret != ''">app_secret,</if>
            <if test="keyType != null and keyType != ''">key_type,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="dailyQuota != null">daily_quota,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="createBy != null and createBy != ''">create_by,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="appKey != null and appKey != ''">#{appKey},</if>
            <if test="appSecret != null and appSecret != ''">#{appSecret},</if>
            <if test="keyType != null and keyType != ''">#{keyType},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="dailyQuota != null">#{dailyQuota},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="createBy != null and createBy != ''">#{createBy},</if>
            sysdate()
        </trim>
    </insert>

    <update id="updateOpenAppSecret" parameterType="OpenAppSecret">
        update open_app_secret
        <trim prefix="SET" suffixOverrides=",">
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="dailyQuota != null">daily_quota = #{dailyQuota},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="updateBy != null and updateBy != ''">update_by = #{updateBy},</if>
            update_time = sysdate()
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOpenAppSecretByAppId" parameterType="Long">
        update open_app_secret set del_flag = '2' where app_id = #{appId}
    </delete>

</mapper>
