<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junsong.open.mapper.OpenApiLogMapper">

    <resultMap type="OpenApiLog" id="OpenApiLogResult">
        <result property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="appId" column="app_id"/>
        <result property="appKey" column="app_key"/>
        <result property="requestMethod" column="request_method"/>
        <result property="requestPath" column="request_path"/>
        <result property="requestIp" column="request_ip"/>
        <result property="responseCode" column="response_code"/>
        <result property="responseTime" column="response_time"/>
        <result property="requestId" column="request_id"/>
        <result property="errorCode" column="error_code"/>
        <result property="status" column="status"/>
        <result property="keyType" column="key_type"/>
        <result property="responseMessage" column="response_message"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <sql id="selectOpenApiLogVo">
        select id, tenant_id, app_id, app_key, request_method, request_path, request_ip,
               response_code, response_time, request_id, error_code, status, key_type,
               response_message, create_time
        from open_api_log
    </sql>

    <select id="selectOpenApiLogList" parameterType="OpenApiLog" resultMap="OpenApiLogResult">
        <include refid="selectOpenApiLogVo"/>
        <where>
            <if test="appKey != null and appKey != ''">and app_key = #{appKey}</if>
            <if test="appId != null">and app_id = #{appId}</if>
            <if test="requestMethod != null and requestMethod != ''">and request_method = #{requestMethod}</if>
            <if test="status != null and status != ''">and status = #{status}</if>
            <if test="keyType != null and keyType != ''">and key_type = #{keyType}</if>
            <if test="requestId != null and requestId != ''">and request_id = #{requestId}</if>
        </where>
        order by id desc
    </select>

    <insert id="insertOpenApiLog" parameterType="OpenApiLog" useGeneratedKeys="true" keyProperty="id">
        insert into open_api_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">tenant_id,</if>
            <if test="appId != null">app_id,</if>
            <if test="appKey != null">app_key,</if>
            <if test="requestMethod != null">request_method,</if>
            <if test="requestPath != null">request_path,</if>
            <if test="requestIp != null">request_ip,</if>
            <if test="responseCode != null">response_code,</if>
            <if test="responseTime != null">response_time,</if>
            <if test="requestId != null">request_id,</if>
            <if test="errorCode != null">error_code,</if>
            <if test="status != null">status,</if>
            <if test="keyType != null">key_type,</if>
            <if test="responseMessage != null">response_message,</if>
            create_time
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="tenantId != null">#{tenantId},</if>
            <if test="appId != null">#{appId},</if>
            <if test="appKey != null">#{appKey},</if>
            <if test="requestMethod != null">#{requestMethod},</if>
            <if test="requestPath != null">#{requestPath},</if>
            <if test="requestIp != null">#{requestIp},</if>
            <if test="responseCode != null">#{responseCode},</if>
            <if test="responseTime != null">#{responseTime},</if>
            <if test="requestId != null">#{requestId},</if>
            <if test="errorCode != null">#{errorCode},</if>
            <if test="status != null">#{status},</if>
            <if test="keyType != null">#{keyType},</if>
            <if test="responseMessage != null">#{responseMessage},</if>
            sysdate()
        </trim>
    </insert>

</mapper>
