<template>
  <div class="app-container">
    <el-form :model="queryParams" ref="queryFormRef" :inline="true" v-show="showSearch" label-width="80px">
#foreach($column in $columns)
#if($column.query)
#set($dictType=$column.dictType)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.htmlType == "input")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-input v-model="queryParams.${column.javaField}" placeholder="请输入${comment}" clearable style="width: 240px" @keyup.enter="handleQuery" />
      </el-form-item>
#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && "" != $dictType)
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-select v-model="queryParams.${column.javaField}" placeholder="请选择${comment}" clearable style="width: 240px">
          <el-option v-for="d in dict.type.${dictType}" :key="d.value" :label="d.label" :value="d.value" />
        </el-select>
      </el-form-item>
#elseif(($column.htmlType == "select" || $column.htmlType == "radio") && $dictType)
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-select v-model="queryParams.${column.javaField}" placeholder="请选择${comment}" clearable style="width: 240px">
          <el-option label="请选择字典生成" value="" />
        </el-select>
      </el-form-item>
#elseif($column.htmlType == "datetime" && $column.queryType != "BETWEEN")
      <el-form-item label="${comment}" prop="${column.javaField}">
        <el-date-picker v-model="queryParams.${column.javaField}" value-format="YYYY-MM-DD" type="date" placeholder="请选择${comment}" clearable style="width: 240px" />
      </el-form-item>
#elseif($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
      <el-form-item label="${comment}">
        <el-date-picker v-model="daterange${column.capJavaField}" value-format="YYYY-MM-DD" type="daterange" range-separator="-" start-placeholder="开始日期" end-placeholder="结束日期" />
      </el-form-item>
#end
#end
#end
      <el-form-item>
        <el-button type="primary" @click="handleQuery">搜索</el-button>
        <el-button @click="resetQuery">重置</el-button>
      </el-form-item>
    </el-form>

    <RightToolbar v-model:showSearch="showSearch" @query="getList">
      <el-button type="primary" :icon="Plus" @click="handleAdd" v-hasPermi="['${permissionPrefix}:add']">新增</el-button>
      <el-button type="info" :icon="Sort" plain @click="toggleExpandAll">展开/折叠</el-button>
    </RightToolbar>

    <el-table
      v-if="refreshTable"
      v-loading="loading"
      :data="${businessName}List"
      row-key="${treeCode}"
      :default-expand-all="isExpandAll"
      :tree-props="{ children: 'children', hasChildren: 'hasChildren' }"
    >
#foreach($column in $columns)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.pk)
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="80" />
#elseif($column.list && $column.htmlType == "datetime")
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="160" />
#elseif($column.list && $column.htmlType == "imageUpload")
      <el-table-column label="${comment}" align="center" prop="${javaField}" width="100">
        <template #default="scope">
          <ImagePreview :src="scope.row.${javaField}" :width="50" :height="50" />
        </template>
      </el-table-column>
#elseif($column.list && "" != $column.dictType)
      <el-table-column label="${comment}" align="center" prop="${javaField}">
        <template #default="scope">
          <DictTag :options="dict.type.${column.dictType}" :value="scope.row.${javaField}" />
        </template>
      </el-table-column>
#elseif($column.list && "" != $javaField)
      <el-table-column label="${comment}" align="left" prop="${javaField}" :show-overflow-tooltip="true" />
#end
#end
      <el-table-column label="操作" align="center" width="200" class-name="small-padding fixed-width">
        <template #default="scope">
          <el-button link type="primary" @click="handleAdd(scope.row)" v-hasPermi="['${permissionPrefix}:add']">新增</el-button>
          <el-button link type="primary" @click="handleUpdate(scope.row)" v-hasPermi="['${permissionPrefix}:edit']">修改</el-button>
          <el-button link type="danger" @click="handleDelete(scope.row)" v-hasPermi="['${permissionPrefix}:remove']">删除</el-button>
        </template>
      </el-table-column>
    </el-table>

    <el-dialog v-model="formDialog.visible" :title="formDialog.title" width="600px" append-to-body>
      <el-form ref="formRef" :model="form" :rules="rules" label-width="80px">
        <el-row>
#foreach($column in $columns)
#set($field=$column.javaField)
#if($column.insert && !$column.pk)
#if(($column.usableColumn) || (!$column.superColumn))
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#set($dictType=$column.dictType)
#if($javaField == $treeName)
          <el-col :span="24">
            <el-form-item label="${comment}" prop="${field}">
              <el-input v-model="form.${field}" placeholder="请输入${comment}" />
            </el-form-item>
          </el-col>
#elseif($javaField == $treeParentCode)
          <el-col :span="24">
            <el-form-item label="${comment}" prop="${field}">
              <el-tree-select v-model="form.${field}" :data="${businessName}Options" :props="{ value: '${treeCode}', label: '${treeName}', children: 'children' }" value-key="${treeCode}" placeholder="请选择${comment}" check-strictly />
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "input")
          <el-col :span="12">
            <el-form-item label="${comment}" prop="${field}">
              <el-input v-model="form.${field}" placeholder="请输入${comment}" />
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "select" && "" != $dictType)
          <el-col :span="12">
            <el-form-item label="${comment}" prop="${field}">
              <el-select v-model="form.${field}" placeholder="请选择${comment}">
                <el-option v-for="d in dict.type.${dictType}" :key="d.value" :label="d.label" :value="d.value" />
              </el-select>
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "select" && $dictType)
          <el-col :span="12">
            <el-form-item label="${comment}" prop="${field}">
              <el-select v-model="form.${field}" placeholder="请选择${comment}">
                <el-option label="请选择字典生成" value="" />
              </el-select>
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "radio" && "" != $dictType)
          <el-col :span="12">
            <el-form-item label="${comment}" prop="${field}">
              <el-radio-group v-model="form.${field}">
                <el-radio v-for="d in dict.type.${dictType}" :key="d.value" :value="d.value">{{ d.label }}</el-radio>
              </el-radio-group>
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "datetime")
          <el-col :span="12">
            <el-form-item label="${comment}" prop="${field}">
              <el-date-picker v-model="form.${field}" value-format="YYYY-MM-DD" type="date" placeholder="请选择${comment}" />
            </el-form-item>
          </el-col>
#elseif($column.htmlType == "textarea")
          <el-col :span="24">
            <el-form-item label="${comment}" prop="${field}">
              <el-input v-model="form.${field}" type="textarea" placeholder="请输入内容" />
            </el-form-item>
          </el-col>
#end
#end
#end
#end
        </el-row>
      </el-form>
      <template #footer>
        <el-button type="primary" @click="submitForm">确 定</el-button>
        <el-button @click="cancel">取 消</el-button>
      </template>
    </el-dialog>
  </div>
</template>

<script setup lang="ts">
import { ref, reactive, onMounted, nextTick } from 'vue'
import { ElMessage, ElMessageBox } from 'element-plus'
import { Plus, Sort } from '@element-plus/icons-vue'
import RightToolbar from '@/components/RightToolbar/index.vue'
import DictTag from '@/components/DictTag/index.vue'
import { useDict } from '@/composables/useDict'
import { handleTree } from '@/utils/junsong'
import {
  list${BusinessName},
  get${BusinessName},
  add${BusinessName},
  update${BusinessName},
  del${BusinessName},
} from '@/api/${moduleName}/${businessName}'

const dict = useDict(${dicts})

const loading = ref(true)
const showSearch = ref(true)
const ${businessName}List = ref<any[]>([])
const ${businessName}Options = ref<any[]>([])
const isExpandAll = ref(true)
const refreshTable = ref(true)

const queryFormRef = ref()
const formRef = ref()

const queryParams = reactive({
#foreach ($column in $columns)
#if($column.query)
  ${column.javaField}: undefined as any,
#end
#end
})

#foreach ($column in $columns)
#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
const daterange${column.capJavaField} = ref<string[]>([])
#end
#end

const formDialog = reactive({ visible: false, title: '' })
const form = reactive<any>({
#foreach ($column in $columns)
#if(!$column.pk && $column.insert)
  ${column.javaField}: undefined,
#end
#end
})

const rules = {
#foreach ($column in $columns)
#if($column.required && $column.insert && !$column.pk)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
  ${column.javaField}: [{ required: true, message: '${comment}不能为空', trigger: #if($column.htmlType == "select" || $column.htmlType == "radio")'change'#else'blur'#end }],
#end
#end
}

function resetForm(targetForm: any, defaultData: any) {
  Object.assign(targetForm, defaultData)
}

function reset() {
  resetForm(form, {
#foreach ($column in $columns)
#if(!$column.pk && $column.insert)
    ${column.javaField}: undefined,
#end
#end
  })
  nextTick(() => {
    formRef.value?.clearValidate?.()
  })
}

function getList() {
  loading.value = true
  const params: any = { ...queryParams }
#foreach ($column in $columns)
#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
  if (daterange${column.capJavaField}.value && daterange${column.capJavaField}.value.length === 2) {
    params.params = params.params || {}
    params.params['begin${column.capJavaField}'] = daterange${column.capJavaField}.value[0]
    params.params['end${column.capJavaField}'] = daterange${column.capJavaField}.value[1]
  }
#end
#end
  list${BusinessName}(params)
    .then((res: any) => {
      ${businessName}List.value = handleTree(res.data || [], '${treeCode}', '${treeParentCode}')
      loading.value = false
    })
    .catch(() => {
      loading.value = false
    })
}

function getTreeselect() {
  list${BusinessName}({}).then((res: any) => {
    ${businessName}Options.value = []
    const data: any = { ${treeCode}: 0, ${treeName}: '顶级节点', children: [] }
    data.children = handleTree(res.data || [], '${treeCode}', '${treeParentCode}')
    ${businessName}Options.value.push(data)
  })
}

function handleQuery() {
  getList()
}

function resetQuery() {
  queryFormRef.value?.resetFields?.()
#foreach ($column in $columns)
#if($column.htmlType == "datetime" && $column.queryType == "BETWEEN")
  daterange${column.capJavaField}.value = []
#end
#end
  handleQuery()
}

function toggleExpandAll() {
  refreshTable.value = false
  isExpandAll.value = !isExpandAll.value
  nextTick(() => {
    refreshTable.value = true
  })
}

function handleAdd(row?: any) {
  reset()
  getTreeselect()
  if (row && row.${treeCode}) {
    form.${treeParentCode} = row.${treeCode}
  } else {
    form.${treeParentCode} = 0
  }
  formDialog.visible = true
  formDialog.title = '添加${functionName}'
}

function handleUpdate(row: any) {
  reset()
  getTreeselect()
  get${BusinessName}(row.${pkColumn.javaField}).then((res: any) => {
    Object.assign(form, res.data)
    formDialog.visible = true
    formDialog.title = '修改${functionName}'
  })
}

function submitForm() {
  if (!formRef.value) return
  formRef.value.validate((valid: boolean) => {
    if (valid) {
      if (form.${pkColumn.javaField} !== undefined) {
        update${BusinessName}(form).then(() => {
          ElMessage.success('修改成功')
          formDialog.visible = false
          getList()
        })
      } else {
        add${BusinessName}(form).then(() => {
          ElMessage.success('新增成功')
          formDialog.visible = false
          getList()
        })
      }
    }
  })
}

function cancel() {
  formDialog.visible = false
  reset()
}

function handleDelete(row: any) {
  ElMessageBox.confirm('是否确认删除选中的${functionName}数据项？', '警告', {
    confirmButtonText: '确定',
    cancelButtonText: '取消',
    type: 'warning',
  })
    .then(async () => {
      await del${BusinessName}(row.${pkColumn.javaField})
      ElMessage.success('删除成功')
      getList()
    })
    .catch(() => {})
}

onMounted(() => {
  getList()
})
</script>
