<template>
  <el-drawer v-model="visible" title="${functionName}详情" direction="rtl" size="68%" append-to-body>
    <div v-loading="loading" class="drawer-content">
      <h4 class="section-header">基本信息</h4>
      <el-descriptions :column="2" border>
#foreach($column in $columns)
#set($javaField=$column.javaField)
#set($parentheseIndex=$column.columnComment.indexOf("（"))
#if($parentheseIndex != -1)
#set($comment=$column.columnComment.substring(0, $parentheseIndex))
#else
#set($comment=$column.columnComment)
#end
#if($column.detail && "" != $javaField)
#if("" != $column.dictType)
        <el-descriptions-item label="${comment}">
          <DictTag :options="dict.type.${column.dictType}" :value="info.${javaField}" />
        </el-descriptions-item>
#elseif($column.htmlType == "datetime")
        <el-descriptions-item label="${comment}">{{ info.${javaField} || '-' }}</el-descriptions-item>
#else
        <el-descriptions-item label="${comment}">{{ info.${javaField} || '-' }}</el-descriptions-item>
#end
#end
#end
      </el-descriptions>
    </div>
  </el-drawer>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue'
import DictTag from '@/components/DictTag/index.vue'
import { useDict } from '@/composables/useDict'
import { get${BusinessName} } from '@/api/${moduleName}/${businessName}'

const dict = useDict(${dicts})
const visible = ref(false)
const loading = ref(false)
const info = reactive<any>({})

function open(${pkColumn.javaField}: number) {
  visible.value = true
  loading.value = true
  get${BusinessName}(${pkColumn.javaField})
    .then((res: any) => {
      Object.assign(info, res.data || {})
    })
    .finally(() => {
      loading.value = false
    })
}

defineExpose({ open })
</script>

<style scoped>
.drawer-content {
  padding: 0 20px 20px;
}
.section-header {
  margin: 16px 0 12px;
  color: #303133;
}
</style>
